@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link href="~/Content/site.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("RsvpForm", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <p>your name: @Html.TextBoxFor(model => model.Name)</p>
        <p>Mail: @Html.TextBoxFor(model => model.Email)</p>
        <p>Phone: @Html.TextBoxFor(model => model.Phone)</p>
        <p>
            Will you attened?
            @Html.DropDownListFor(model => model.WillAttend, new[] { new SelectListItem() {  Text="No, I can't come", Value =bool.FalseString},
            new SelectListItem() {  Text="yes, I'll be there", Value =bool.TrueString}}, "choose an option")
       
        </p>
        <input type="submit" value="Submit RSVP" name="" />

    }
</body>
</html>
